body{
	background: #fd6252;
	padding-top: .608rem;
	height: auto;
}
.main{
	width: 10rem;
	height: 17.6rem;
	margin: 0 auto;
	overflow: hidden;
	background: #fdf7e0;
	border-radius: .4rem;
}
img{
	width: 100%;
	height: 100%;
}
.personal-info{
	height: 4rem;
	padding-top: .5rem;
}
.head-img{
	width: 2.336rem;
	height: 2.336rem;
	border-radius: 1.5rem;
	overflow: hidden;
	margin: 0 auto;
}
.content{
	height: 1.664rem;
	line-height: 1.664rem;
	color: #ff5240;
	font-size: .576rem;
	width: 100%;
	text-align: center;
}
.border{
	height: 17.8rem;
	width: 10.3rem;
	margin: 0 auto;
	padding-top: .18rem;
	border-radius: .4rem;
	border: 6px solid #fdbc2f;
	background-color: #fee366;
	background-image: 
	linear-gradient(
		45deg, #fff 25%, 
		transparent 25%, transparent 75%, 
		#fff 75%, #fff
		), 
	linear-gradient(
		45deg, #fff 25%, 
		transparent 25%, transparent 75%, 
		#fff 75%, #fff
		);
	background-size: 1.5rem 1.5rem;
	background-position: 0 0, .75rem .75rem;
}

/* 排行榜列表 */
.list-info{
	height: 13.1rem;
	overflow: auto;
}
.list{
	width: 9rem;
	padding: 0 .25rem;
	height: 1.28rem;
	font-size: 0;
	line-height: 1.28rem;
	margin: .09rem auto;
	border-radius: .2rem;
	border: 1px dashed #ff5240;
	background: #fff;
}
.list span,.list img{
	display: inline-block;
	vertical-align: middle;
	font-size: .5rem;
}
.list img{
	width: .99rem;
	height: .99rem;
	border-radius: .5rem;
}
span.luckynum{
	color: #ff5240;
	width: 3.5rem;
	text-align: right;
}
span.ranking{
	color: #fd1b03;
	width: .8rem;
	text-align: center;
	overflow: hidden;
}
span.nicknm{
	width: 2.56rem;
	padding-left: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}