body{
	background: #fd6252;
	padding-top: .608rem;
	height: auto;
}
.main{
	width: 9.2rem;
	height: 14.4rem;
	padding: 0 .4rem;
	margin: 0 auto;
	overflow: auto;
	background: #fdf7e0;
	border-radius: .4rem;
	color: #333;
}
.border{
	height: 14.6rem;
	width: 10.3rem;
	margin: 0 auto;
	padding-top: .18rem;
	border-radius: .4rem;
	border: 6px solid #fdbc2f;
	background-color: #fee366;
	background-image: 
	linear-gradient(
		45deg, #fff 25%, 
		transparent 25%, transparent 75%, 
		#fff 75%, #fff
		), 
	linear-gradient(
		45deg, #fff 25%, 
		transparent 25%, transparent 75%, 
		#fff 75%, #fff
		);
	background-size: 1.5rem 1.5rem;
	background-position: 0 0, .75rem .75rem;
}
h1{
	color: #fa5a03;
	text-align: center;
	height: 1.28rem;
	line-height: 1.28rem;
	font-size: .5rem;
}
p{
	font-size: .48rem;
	line-height: .8rem;
}
a.sure{
	background: url(../img/btn.png) no-repeat;
	background-size: 100% 100%;
	width: 4rem;
	height: 1.5rem;
	line-height: 1.5rem;
	display: block;
	color: #e15d05;
	font-size: .7rem;
	text-align: center;
	text-decoration: none;
	margin: .5rem auto 0 auto;
}